
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .div_29f0_34 {
        background-image: url(../TemplateFolders/upload/stunning-bg.jpg);
        background-size: cover;
        background-position: center;
    }
    #div_29f0_37 {
        color: rgb(255, 255, 255);
    }
</style>
<div class="traveltour-page-wrapper" id="traveltour-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-wrapper " id="div_493c_0">
            <div class="gdlr-core-pbf-background-wrap" id="div_493c_1"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-revolution-slider-item gdlr-core-item-pdlr gdlr-core-item-pdb " id="div_493c_2">
                            <link href="https://fonts.googleapis.com/css?family=Roboto:900%2C700" rel="stylesheet" property="stylesheet" type="text/css" media="all">
                            <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery">
                                <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8">
                                    <ul>
                                        <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="upload/slider-1-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                            <img src="../TemplateFolders/upload/slider-1.jpg" alt="" title="slider-1" width="1800" height="844" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                            <div class="tp-caption   tp-resizeme" id="slide-1-layer-1" data-x="89" data-y="center" data-voffset="10" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":450,"ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap; font-size: 81px;  font-weight: 600; color: rgba(255,255,255,1);font-family:Poppins;">Special</div>
                                            <div class="tp-caption   tp-resizeme" id="slide-1-layer-2" data-x="90" data-y="center" data-voffset="92" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":690,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 45px;  font-weight: 600; color: rgba(186,217,255,1);font-family:Poppins;"> 7 Days in Switzerland</div>
                                            <div class="tp-caption   tp-resizeme" id="slide-1-layer-3" data-x="92" data-y="center" data-voffset="138" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','on','off']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":880,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 18px;  font-weight: 400; color: rgba(218,229,255,1);font-family:Poppins;">Bern, Lucern, Zurich, Zermatt, Metahorn, Jungfrau</div>
                                            <div class="tp-caption rev-btn  tp-resizeme" id="slide-1-layer-4" data-x="94" data-y="center" data-voffset="200" data-width="['auto']" data-height="['auto']" data-type="button" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1060,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(70,123,231,1);"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[20,20,20,20]" data-paddingright="[32,32,32,32]" data-paddingbottom="[20,20,20,20]" data-paddingleft="[32,32,32,32]" style="z-index: 8; white-space: nowrap; font-size: 13px; line-height: 12px; font-weight: 900; color: rgba(255,255,255,1);font-family:Roboto;text-transform:uppercase;background-color:rgba(70,146,231,1);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Learn More</div>
                                        </li>
                                        <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="upload/slider-2-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                            <img src="../TemplateFolders/upload/slider-2.jpg" alt="" title="slider-2" width="1800" height="844" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                            <div class="tp-caption   tp-resizeme" id="slide-2-layer-2" data-x="89" data-y="center" data-voffset="-17" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; white-space: nowrap; font-size: 37px;  font-weight: 500; color: rgba(186,217,255,1);font-family:Poppins;">Find your perfect</div>
                                            <div class="tp-caption   tp-resizeme" id="slide-2-layer-1" data-x="89" data-y="center" data-voffset="62" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":780,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10; white-space: nowrap; font-size: 90px;  font-weight: 700; color: rgba(255,255,255,1);font-family:Poppins;text-transform:uppercase;">Vacation</div>
                                            <div class="tp-caption   tp-resizeme" id="slide-2-layer-3" data-x="89" data-y="center" data-voffset="137" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','on','off']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1010,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11; white-space: nowrap; font-size: 18px;  font-weight: 400; color: rgba(218,229,255,1);font-family:Poppins;">Italy, Rome, Venice, Milan</div>
                                            <div class="tp-caption rev-btn  tp-resizeme" id="slide-2-layer-4" data-x="89" data-y="center" data-voffset="203" data-width="['auto']" data-height="['auto']" data-type="button" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1160,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(70,123,231,1);"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[20,20,20,20]" data-paddingright="[32,32,32,32]" data-paddingbottom="[20,20,20,20]" data-paddingleft="[32,32,32,32]" style="z-index: 12; white-space: nowrap; font-size: 13px; line-height: 12px; font-weight: 900; color: rgba(255,255,255,1);font-family:Roboto;text-transform:uppercase;background-color:rgba(70,146,231,1);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Learn More</div>
                                        </li>
                                        <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="upload/slider-3-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                            <img src="../TemplateFolders/upload/slider-3.jpg" alt="" title="slider-3" width="1800" height="844" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                            <div class="tp-caption   tp-resizeme" id="slide-3-layer-2" data-x="89" data-y="center" data-voffset="-13" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13; white-space: nowrap; font-size: 37px;  font-weight: 400; color: rgba(255,255,255,1);font-family:Poppins;text-transform:uppercase;letter-spacing:2px;">Open Your Eyes To</div>
                                            <div class="tp-caption   tp-resizeme" id="slide-3-layer-1" data-x="89" data-y="center" data-voffset="66" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;","speed":1500,"to":"o:1;","delay":780,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 14; white-space: nowrap; font-size: 73px;  font-weight: 700; color: rgba(255,255,255,1);font-family:Poppins;">The Hidden World</div>
                                            <div class="tp-caption rev-btn  tp-resizeme" id="slide-3-layer-4" data-x="89" data-y="center" data-voffset="158" data-width="['auto']" data-height="['auto']" data-type="button" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1030,"ease":"Power2.easeInOut"},{"delay":"wait","speed":170,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(70,123,231,1);"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[20,20,20,20]" data-paddingright="[32,32,32,32]" data-paddingbottom="[20,20,20,20]" data-paddingleft="[32,32,32,32]" style="z-index: 15; white-space: nowrap; font-size: 13px; line-height: 12px; font-weight: 700; color: rgba(48,30,30,1);font-family:Roboto;text-transform:uppercase;background-color:rgba(255,255,255,1);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:1px;cursor:pointer;">Learn More</div>
                                        </li>
                                    </ul>
                                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
@*<div class="gdlr-core-pbf-wrapper " id="div_29f0_14" data-skin="Dark Search">
    <div class="gdlr-core-pbf-background-wrap">
        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" id="div_29f0_15" data-parallax-speed="0"></div>
    </div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-element">
                <div class="tourmaster-tour-search-item clearfix tourmaster-style-column tourmaster-column-count-6 tourmaster-item-pdlr">
                    <div class="tourmaster-tour-search-wrap ">
                        <form class="tourmaster-form-field tourmaster-with-border" action="#" method="GET">
                            <div class="tourmaster-tour-search-field tourmaster-tour-search-field-keywords">
                                <label>Keywords</label>
                                <div class="tourmaster-tour-search-field-inner">
                                    <input name="tour-search" type="text" value="" />
                                </div>
                            </div>
                            <div class="tourmaster-tour-search-field tourmaster-tour-search-field-tax">
                                <label>Activity</label>
                                <div class="tourmaster-combobox-wrap">
                                    <select name="tour-activity">
                                        <option value="">Any</option>
                                        <option value="city-tours">City Tours</option>
                                        <option value="cultural-thematic-tours">Cultural &amp; Thematic Tours</option>
                                        <option value="family-friendly-tours">Family Friendly Tours</option>
                                        <option value="holiday-seasonal-tours">Holiday &amp; Seasonal Tours</option>
                                        <option value="indulgence-luxury-tours">Indulgence &amp; Luxury Tours</option>
                                        <option value="outdoor-activites">Outdoor Activites</option>
                                        <option value="relaxation-tours">Relaxation Tours</option>
                                        <option value="wild-adventure-tours">Wild &amp; Adventure Tours</option>
                                    </select>
                                </div>
                            </div>
                            <div class="tourmaster-tour-search-field tourmaster-tour-search-field-tax">
                                <label>Destination</label>
                                <div class="tourmaster-combobox-wrap">
                                    <select name="tour-destination">
                                        <option value="">Any</option>
                                        <option value="africa">Africa</option>
                                        <option value="america">America</option>
                                        <option value="asia">Asia</option>
                                        <option value="eastern-europe">Eastern Europe</option>
                                        <option value="europe">Europe</option>
                                        <option value="south-america">South America</option>
                                    </select>
                                </div>
                            </div>
                            <div class="tourmaster-tour-search-field tourmaster-tour-search-field-duration">
                                <label>Duration</label>
                                <div class="tourmaster-combobox-wrap">
                                    <select name="duration">
                                        <option value="">Any</option>
                                        <option value="1">1 Day Tour</option>
                                        <option value="2">2-4 Days Tour</option>
                                        <option value="5">5-7 Days Tour</option>
                                        <option value="7">7+ Days Tour</option>
                                    </select>
                                </div>
                            </div>
                            <div class="tourmaster-tour-search-field tourmaster-tour-search-field-date">
                                <label>Date</label>
                                <div class="tourmaster-datepicker-wrap">
                                    <input class="tourmaster-datepicker" type="text" value="" data-date-format="d M yy" />
                                    <input class="tourmaster-datepicker-alt" name="date" type="hidden" value="" />
                                </div>
                            </div>
                            <input class="tourmaster-tour-search-submit" type="submit" value="Search" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
@*<div class="gdlr-core-pbf-wrapper " id="div_29f0_16" data-skin="Homepage Search">
    <div class="gdlr-core-pbf-background-wrap">
        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" id="div_29f0_17" data-parallax-speed="0"></div>
    </div>
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="gdlr-core-title-item-id-88464">
                    <div class="gdlr-core-title-item-title-wrap">
                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" id="h3_29f0_0">Popular Tour Packages<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3><a href="#" target="_self" class="gdlr-core-title-item-link"><span class="gdlr-core-separator">/</span>View All Tours</a>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-element">
                <div class="tourmaster-tour-item clearfix  tourmaster-tour-item-style-grid tourmaster-item-pdlr tourmaster-tour-item-column-3" id="div_29f0_18">
                    <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 tourmaster-nav-style-rect" data-type="carousel" data-column="3" data-nav="navigation" data-nav-parent="tourmaster-tour-item" data-vcenter-nav="1">
                        <ul class="slides">
                            <li class="gdlr-core-item-mglr">
                                <div class="tourmaster-tour-grid tourmaster-tour-frame tourmaster-price-right-title">
                                    <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                        <a href="#"><img src="~/TemplateFolders/upload/shutterstock_120562819-700x450.jpg" alt="" width="700" height="450" /></a>
                                    </div>
                                    <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                        <h3 class="tourmaster-tour-title gdlr-core-skin-title"><a href="#">Africa &#8211; Amazing African Safari</a></h3>
                                        <div class="tourmaster-tour-price-wrap ">
                                            <span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">$100</span></span>
                                        </div>
                                        <div class="tourmaster-tour-info-wrap clearfix">
                                            <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>5 Hours</div>
                                        </div>
                                        <div class="tourmaster-tour-rating tourmaster-tour-rating-empty">0</div>
                                    </div>
                                </div>
                            </li>
                            <li class="gdlr-core-item-mglr">
                                <div class="tourmaster-tour-grid tourmaster-tour-frame tourmaster-price-right-title">
                                    <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                        <a href="#"><img src="~/TemplateFolders/upload/shutterstock_151616084-700x450.jpg" alt="" width="700" height="450" /></a>
                                    </div>
                                    <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                        <h3 class="tourmaster-tour-title gdlr-core-skin-title"><a href="#">Dubai &#8211; All Stunning Places</a></h3>
                                        <div class="tourmaster-tour-price-wrap ">
                                            <span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">$1,200</span></span>
                                        </div>
                                        <div class="tourmaster-tour-info-wrap clearfix">
                                            <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>8 Hours</div>
                                        </div>
                                        <div class="tourmaster-tour-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="tourmaster-tour-rating-text">(2 Reviews)</span></div>
                                    </div>
                                </div>
                            </li>
                            <li class="gdlr-core-item-mglr">
                                <div class="tourmaster-tour-grid tourmaster-tour-frame tourmaster-price-right-title">
                                    <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                        <a href="#"><img src="~/TemplateFolders/upload/shutterstock_178807262-700x450.jpg" alt="" width="700" height="450" /></a>
                                        <div class="tourmaster-thumbnail-ribbon gdlr-core-outer-frame-element" id="div_29f0_19">
                                            <div class="tourmaster-thumbnail-ribbon-cornor" id="div_29f0_20"></div>20% Off
                                        </div>
                                    </div>
                                    <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                        <h3 class="tourmaster-tour-title gdlr-core-skin-title"><a href="#">Switzerland &#8211; 7 Days in Zurich, Zermatt</a></h3>
                                        <div class="tourmaster-tour-price-wrap tourmaster-discount"><span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">$4,300</span></span><span class="tourmaster-tour-discount-price">$3,500</span></div>
                                        <div class="tourmaster-tour-info-wrap clearfix">
                                            <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>7 Days</div>
                                        </div>
                                        <div class="tourmaster-tour-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span class="tourmaster-tour-rating-text">(2 Reviews)</span></div>
                                    </div>
                                </div>
                            </li>
                            <li class="gdlr-core-item-mglr">
                                <div class="tourmaster-tour-grid tourmaster-tour-frame tourmaster-price-right-title">
                                    <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                        <a href="#"><img src="~/TemplateFolders/upload/shutterstock_245507692-700x450.jpg" alt="" width="700" height="450" /></a>
                                        <div class="tourmaster-thumbnail-ribbon gdlr-core-outer-frame-element" id="div_29f0_21">
                                            <div class="tourmaster-thumbnail-ribbon-cornor" id="div_29f0_22"></div>25% Off
                                        </div>
                                    </div>
                                    <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                        <h3 class="tourmaster-tour-title gdlr-core-skin-title"><a href="#">Enquiry Form Only &#8211; Italy &#8211; 6 Days</a></h3>
                                        <div class="tourmaster-tour-price-wrap tourmaster-discount"><span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">$3,700</span></span><span class="tourmaster-tour-discount-price">$2,000</span></div>
                                        <div class="tourmaster-tour-info-wrap clearfix">
                                            <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>5 Days</div>
                                        </div>
                                        <div class="tourmaster-tour-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><span class="tourmaster-tour-rating-text">(1 Review)</span></div>
                                    </div>
                                </div>
                            </li>
                            <li class="gdlr-core-item-mglr">
                                <div class="tourmaster-tour-grid tourmaster-tour-frame tourmaster-price-right-title">
                                    <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                        <a href="#"><img src="~/TemplateFolders/upload/photo-1459255418679-d6424da9ee33-700x450.jpg" alt="" width="700" height="450" /></a>
                                    </div>
                                    <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                        <h3 class="tourmaster-tour-title gdlr-core-skin-title"><a href="#">America &#8211; 2 Days in Lake Tahoe</a></h3>
                                        <div class="tourmaster-tour-price-wrap ">
                                            <span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">$300</span></span>
                                        </div>
                                        <div class="tourmaster-tour-info-wrap clearfix">
                                            <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>2 Days</div>
                                        </div>
                                        <div class="tourmaster-tour-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="tourmaster-tour-rating-text">(1 Review)</span></div>
                                    </div>
                                </div>
                            </li>
                            <li class="gdlr-core-item-mglr">
                                <div class="tourmaster-tour-grid tourmaster-tour-frame tourmaster-price-right-title">
                                    <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                        <a href="#"><img src="~/TemplateFolders/upload/shutterstock_147744218-700x450.jpg" alt="" width="700" height="450" /></a>
                                    </div>
                                    <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                        <h3 class="tourmaster-tour-title gdlr-core-skin-title"><a href="#">Japan &#8211; 5 Days in Tokyo, Fujikawa</a></h3>
                                        <div class="tourmaster-tour-price-wrap ">
                                            <span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">$1,600</span></span>
                                        </div>
                                        <div class="tourmaster-tour-info-wrap clearfix">
                                            <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>5 Days</div>
                                        </div>
                                        <div class="tourmaster-tour-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="tourmaster-tour-rating-text">(3 Reviews)</span></div>
                                    </div>
                                </div>
                            </li>
                            <li class="gdlr-core-item-mglr">
                                <div class="tourmaster-tour-grid tourmaster-tour-frame tourmaster-price-right-title">
                                    <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                        <a href="#"><img src="~/TemplateFolders/upload/shutterstock_254090041-700x450.jpg" alt="" width="700" height="450" /></a>
                                        <div class="tourmaster-thumbnail-ribbon gdlr-core-outer-frame-element" id="div_29f0_23">
                                            <div class="tourmaster-thumbnail-ribbon-cornor" id="div_29f0_24"></div>10% Off
                                        </div>
                                    </div>
                                    <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                        <h3 class="tourmaster-tour-title gdlr-core-skin-title"><a href="#">Finland &#8211;  Helsinki, Santa Claus Town</a></h3>
                                        <div class="tourmaster-tour-price-wrap tourmaster-discount"><span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">$3,880</span></span><span class="tourmaster-tour-discount-price">$3,500</span></div>
                                        <div class="tourmaster-tour-info-wrap clearfix">
                                            <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>8 Days 7 Nights</div>
                                        </div>
                                        <div class="tourmaster-tour-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="tourmaster-tour-rating-text">(1 Review)</span></div>
                                    </div>
                                </div>
                            </li>
                            <li class="gdlr-core-item-mglr">
                                <div class="tourmaster-tour-grid tourmaster-tour-frame tourmaster-price-right-title">
                                    <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                        <a href="#"><img src="~/TemplateFolders/upload/shutterstock_136984760-700x450.jpg" alt="" width="700" height="450" /></a>
                                    </div>
                                    <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                        <h3 class="tourmaster-tour-title gdlr-core-skin-title"><a href="#">Pais &#8211; Eiffel Tower, Notre Dame Cath..</a></h3>
                                        <div class="tourmaster-tour-price-wrap ">
                                            <span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">$800</span></span>
                                        </div>
                                        <div class="tourmaster-tour-info-wrap clearfix">
                                            <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>10 Hours</div>
                                        </div>
                                        <div class="tourmaster-tour-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="tourmaster-tour-rating-text">(1 Review)</span></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<br />
@*<div class="div_29f0_34">
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js "></div>
                </div>
            </div>
            <div class="gdlr-core-pbf-column gdlr-core-column-30" data-skin="White Text">
                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_29f0_35">
                                <div class="gdlr-core-title-item-title-wrap">
                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" id="h3_29f0_4">Discount <span id="span_29f0_11">10-30% Off</span><span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" id="div_29f0_36">
                                <div class="gdlr-core-text-box-item-content" id="div_29f0_37">
                                    <p>Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"><a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border" href="#" id="gdlr-core-button-id-90320"><span class="gdlr-core-content">See Promotion Tours</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="gdlr-core-pbf-wrapper " id="div_29f0_38">
    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="div_29f0_39">
                    <div class="gdlr-core-title-item-title-wrap">
                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" id="h3_29f0_5"><span class="gdlr-core-title-item-left-icon" id="span_29f0_12"><i class="icon_lightbulb_alt" id="i_29f0_8"></i></span>Travel Articles<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3><a href="#" target="_self" class="gdlr-core-title-item-link"><span class="gdlr-core-separator">/</span>Read All Articles</a>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-image" id="div_29f0_40">
                    <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                        <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15 gdlr-core-column-first">
                            <div class="gdlr-core-blog-modern  gdlr-core-with-image gdlr-core-hover-overlay-content gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                <div class="gdlr-core-blog-modern-inner">
                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image"><img src="~/TemplateFolders/upload/shutterstock_195507533-700x660.jpg" alt="" width="700" height="660" /></div>
                                    <div class="gdlr-core-blog-modern-content  gdlr-core-center-align" id="div_29f0_41">
                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" id="h3_29f0_6"><a href="#">How to travel with paper map</a></h3>
                                        <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head"><i class="icon_clock_alt"></i></span><a href="#">June 6, 2016</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                            <div class="gdlr-core-blog-modern  gdlr-core-with-image gdlr-core-hover-overlay-content gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                <div class="gdlr-core-blog-modern-inner">
                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image"><img src="~/TemplateFolders/upload/photo-1459255418679-d6424da9ee33-700x660.jpg" alt="" width="700" height="660" /></div>
                                    <div class="gdlr-core-blog-modern-content  gdlr-core-center-align" id="div_29f0_42">
                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" id="h3_29f0_7"><a href="#">Change your place and get the fresh air</a></h3>
                                        <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head"><i class="icon_clock_alt"></i></span><a href="#">June 6, 2016</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                            <div class="gdlr-core-blog-modern  gdlr-core-with-image gdlr-core-hover-overlay-content gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                <div class="gdlr-core-blog-modern-inner">
                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image"><img src="~/TemplateFolders/upload/shutterstock_210601591-700x660.jpg" alt="" width="700" height="660" /></div>
                                    <div class="gdlr-core-blog-modern-content  gdlr-core-center-align" id="div_29f0_43">
                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" id="h3_29f0_8"><a href="#">Even the all-powerful Pointing</a></h3>
                                        <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head"><i class="icon_clock_alt"></i></span><a href="#">June 6, 2016</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                            <div class="gdlr-core-blog-modern  gdlr-core-with-image gdlr-core-hover-overlay-content gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                <div class="gdlr-core-blog-modern-inner">
                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image"><img src="~/TemplateFolders/upload/pexels-photo-67386-700x660.jpg" alt="" width="700" height="660" /></div>
                                    <div class="gdlr-core-blog-modern-content  gdlr-core-center-align" id="div_29f0_44">
                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" id="h3_29f0_9"><a href="#">The Surfing Man Will Blow Your Mind</a></h3>
                                        <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head"><i class="icon_clock_alt"></i></span><a href="#">June 6, 2016</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
