
@{
    ViewBag.Title = "Packages";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="traveltour-page-title-wrap  traveltour-style-custom traveltour-left-align">
    <div class="traveltour-header-transparent-substitute"></div>
    <div class="traveltour-page-title-overlay"></div>
    <div class="traveltour-page-title-container traveltour-container">
        <div class="traveltour-page-title-content traveltour-item-pdlr">
            <h1 class="traveltour-page-title">All Packages</h1>
        </div>
    </div>
</div>
<div class="traveltour-page-wrapper" id="traveltour-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-section">
            <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                <div class="gdlr-core-pbf-element">
                    <div class="tourmaster-tour-item clearfix  tourmaster-tour-item-style-grid tourmaster-tour-item-column-2">
                        <div class="tourmaster-tour-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                            <div class="gdlr-core-item-list  tourmaster-item-pdlr tourmaster-column-20">
                                <div class="tourmaster-tour-grid  tourmaster-price-right-title">
                                    <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                        <a href="http://max-themes.net/demos/africa-amazing-african-safari/index.html"><img src="~/TemplateFolders/upload/shutterstock_120562819-700x500.jpg" alt="" width="700" height="500" /></a>
                                    </div>
                                    <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                        <h3 class="tourmaster-tour-title gdlr-core-skin-title" id="h3_3ea1_0"><a href="http://max-themes.net/demos/africa-amazing-african-safari/index.html">Africa &#8211; Amazing African Safari</a></h3>
                                        <div class="tourmaster-tour-price-wrap ">
                                            <span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">$100</span></span>
                                        </div>

                                        <div class="tourmaster-tour-info-wrap clearfix">
                                            <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>5 Hours</div>
                                            
                                        </div>
                                        @*<div class="tourmaster-tour-rating tourmaster-tour-rating-empty">0</div>*@
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"><a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border" href="#" id="gdlr-core-button-id-409"><span class="gdlr-core-content">View Details</span></a></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="gdlr-core-item-list  tourmaster-item-pdlr tourmaster-column-20">
                                <div class="tourmaster-tour-grid  tourmaster-price-right-title">
                                    <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                        <a href="http://max-themes.net/demos/dubai-all-stunning-places/index.html"><img src="~/TemplateFolders/upload/shutterstock_151616084-700x500.jpg" alt="" width="700" height="500" /></a>
                                    </div>
                                    <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                        <h3 class="tourmaster-tour-title gdlr-core-skin-title" id="h3_3ea1_1"><a href="http://max-themes.net/demos/dubai-all-stunning-places/index.html">Dubai &#8211; All Stunning Places</a></h3>
                                        <div class="tourmaster-tour-price-wrap ">
                                            <span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">$1,200</span></span>
                                        </div>
                                        <div class="tourmaster-tour-info-wrap clearfix">
                                            <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>8 Hours</div>
                                        </div>
                                        @*<div class="tourmaster-tour-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="tourmaster-tour-rating-text">(2 Reviews)</span></div>*@
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"><a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border" href="#" id="gdlr-core-button-id-409"><span class="gdlr-core-content">View Details</span></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-item-list  tourmaster-item-pdlr tourmaster-column-20">
                                <div class="tourmaster-tour-grid  tourmaster-price-right-title">
                                    <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                        <a href="http://max-themes.net/demos/switzerland-7-days-in-zurich-zermatt/index.html"><img src="~/TemplateFolders/upload/shutterstock_178807262-700x500.jpg" alt="" width="700" height="500" /></a>
                                        @*<div class="tourmaster-thumbnail-ribbon gdlr-core-outer-frame-element" id="div_3ea1_0">
                                            <div class="tourmaster-thumbnail-ribbon-cornor" id="div_3ea1_1"></div>20% Off
                                        </div>*@
                                    </div>
                                    <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                        <h3 class="tourmaster-tour-title gdlr-core-skin-title" id="h3_3ea1_2"><a href="http://max-themes.net/demos/switzerland-7-days-in-zurich-zermatt/index.html">Switzerland &#8211; 7 Days in Zurich, Zermatt</a></h3>
                                        <div class="tourmaster-tour-price-wrap tourmaster-discount"><span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">$4,300</span></span><span class="tourmaster-tour-discount-price">$3,500</span></div>
                                        <div class="tourmaster-tour-info-wrap clearfix">
                                            <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>7 Days</div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"><a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border" href="#" id="gdlr-core-button-id-409"><span class="gdlr-core-content">View Details</span></a></div>
                                        </div>
                                        @*<div class="tourmaster-tour-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span class="tourmaster-tour-rating-text">(2 Reviews)</span></div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-item-list  tourmaster-item-pdlr tourmaster-column-20">
                                <div class="tourmaster-tour-grid  tourmaster-price-right-title">
                                    <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                        <a href="http://max-themes.net/demos/italy-6-days-in-rome-venice-milan/index.html"><img src="~/TemplateFolders/upload/shutterstock_245507692-700x500.jpg" alt="" width="700" height="500" /></a>
                                        @*<div class="tourmaster-thumbnail-ribbon gdlr-core-outer-frame-element" id="div_3ea1_2">
                                            <div class="tourmaster-thumbnail-ribbon-cornor" id="div_3ea1_3"></div>25% Off
                                        </div>*@
                                    </div>
                                    <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                        <h3 class="tourmaster-tour-title gdlr-core-skin-title" id="h3_3ea1_3"><a href="http://max-themes.net/demos/italy-6-days-in-rome-venice-milan/index.html">Enquiry Form Only &#8211; Italy &#8211; 6 Days</a></h3>
                                        <div class="tourmaster-tour-price-wrap tourmaster-discount"><span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">$3,700</span></span><span class="tourmaster-tour-discount-price">$2,000</span></div>
                                        <div class="tourmaster-tour-info-wrap clearfix">
                                            <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>5 Days</div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"><a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border" href="#" id="gdlr-core-button-id-409"><span class="gdlr-core-content">View Details</span></a></div>
                                        </div>
                                        @*<div class="tourmaster-tour-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><span class="tourmaster-tour-rating-text">(1 Review)</span></div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-item-list  tourmaster-item-pdlr tourmaster-column-20">
                                <div class="tourmaster-tour-grid  tourmaster-price-right-title">
                                    <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                        <a href="http://max-themes.net/demos/america-2-days-in-lake-tahoe/index.html"><img src="~/TemplateFolders/upload/photo-1459255418679-d6424da9ee33-700x500.jpg" alt="" width="700" height="500" /></a>
                                    </div>
                                    <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                        <h3 class="tourmaster-tour-title gdlr-core-skin-title" id="h3_3ea1_4"><a href="http://max-themes.net/demos/america-2-days-in-lake-tahoe/index.html">America &#8211; 2 Days in Lake Tahoe</a></h3>
                                        <div class="tourmaster-tour-price-wrap ">
                                            <span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">$300</span></span>
                                        </div>
                                        <div class="tourmaster-tour-info-wrap clearfix">
                                            <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>2 Days</div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"><a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border" href="#" id="gdlr-core-button-id-409"><span class="gdlr-core-content">View Details</span></a></div>
                                        </div>
                                        @*<div class="tourmaster-tour-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="tourmaster-tour-rating-text">(1 Review)</span></div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-item-list  tourmaster-item-pdlr tourmaster-column-20">
                                <div class="tourmaster-tour-grid  tourmaster-price-right-title">
                                    <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                        <a href="http://max-themes.net/demos/japan-5-days-in-tokyo-fujikawaguchiko/index.html"><img src="~/TemplateFolders/upload/shutterstock_147744218-700x500.jpg" alt="" width="700" height="500" /></a>
                                    </div>
                                    <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                        <h3 class="tourmaster-tour-title gdlr-core-skin-title" id="h3_3ea1_5"><a href="http://max-themes.net/demos/japan-5-days-in-tokyo-fujikawaguchiko/index.html">Japan &#8211; 5 Days in Tokyo, Fujikawa</a></h3>
                                        <div class="tourmaster-tour-price-wrap ">
                                            <span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">$1,600</span></span>
                                        </div>
                                        <div class="tourmaster-tour-info-wrap clearfix">
                                            <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>5 Days</div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"><a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border" href="#" id="gdlr-core-button-id-409"><span class="gdlr-core-content">View Details</span></a></div>
                                        </div>
                                        @*<div class="tourmaster-tour-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="tourmaster-tour-rating-text">(3 Reviews)</span></div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-item-list  tourmaster-item-pdlr tourmaster-column-20">
                                <div class="tourmaster-tour-grid  tourmaster-price-right-title">
                                    <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                        <a href="http://max-themes.net/demos/finland-helsinki-santa-claus-town-8-days/index.html"><img src="~/TemplateFolders/upload/shutterstock_254090041-700x500.jpg" alt="" width="700" height="500" /></a>
                                        @*<div class="tourmaster-thumbnail-ribbon gdlr-core-outer-frame-element" id="div_3ea1_4">
                                            <div class="tourmaster-thumbnail-ribbon-cornor" id="div_3ea1_5"></div>10% Off
                                        </div>*@
                                    </div>
                                    <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                        <h3 class="tourmaster-tour-title gdlr-core-skin-title" id="h3_3ea1_6"><a href="http://max-themes.net/demos/finland-helsinki-santa-claus-town-8-days/index.html">Finland &#8211;  Helsinki, Santa Claus Town</a></h3>
                                        <div class="tourmaster-tour-price-wrap tourmaster-discount"><span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">$3,880</span></span><span class="tourmaster-tour-discount-price">$3,500</span></div>
                                        <div class="tourmaster-tour-info-wrap clearfix">
                                            <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>8 Days 7 Nights</div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"><a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border" href="#" id="gdlr-core-button-id-409"><span class="gdlr-core-content">View Details</span></a></div>
                                        </div>
                                        @*<div class="tourmaster-tour-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="tourmaster-tour-rating-text">(1 Review)</span></div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-item-list  tourmaster-item-pdlr tourmaster-column-20">
                                <div class="tourmaster-tour-grid  tourmaster-price-right-title">
                                    <div class="tourmaster-tour-thumbnail tourmaster-media-image">
                                        <a href="http://max-themes.net/demos/pais-eiffel-tower-notre-dame-cathedral-champs-elysees-arc-of-triumph-day-index.html"><img src="~/TemplateFolders/upload/shutterstock_136984760-700x500.jpg" alt="" width="700" height="500" /></a>
                                    </div>
                                    <div class="tourmaster-tour-content-wrap gdlr-core-skin-e-background">
                                        <h3 class="tourmaster-tour-title gdlr-core-skin-title" id="h3_3ea1_7"><a href="http://max-themes.net/demos/pais-eiffel-tower-notre-dame-cathedral-champs-elysees-arc-of-triumph-day-index.html">Pais &#8211; Eiffel Tower, Notre Dame Cath..</a></h3>
                                        <div class="tourmaster-tour-price-wrap ">
                                            <span class="tourmaster-tour-price"><span class="tourmaster-head">From</span><span class="tourmaster-tail">$800</span></span>
                                        </div>
                                        <div class="tourmaster-tour-info-wrap clearfix">
                                            <div class="tourmaster-tour-info tourmaster-tour-info-duration-text "><i class="icon_clock_alt"></i>10 Hours</div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align"><a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-button-no-border" href="#" id="gdlr-core-button-id-409"><span class="gdlr-core-content">View Details</span></a></div>
                                        </div>
                                        @*<div class="tourmaster-tour-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><span class="tourmaster-tour-rating-text">(1 Review)</span></div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pagination  gdlr-core-style-circle gdlr-core-center-align tourmaster-item-pdlr">
                            <span aria-current='page' class='page-numbers current'>1</span> <a class='page-numbers' href='page/2/index.html'>2</a> <a class='page-numbers' href='page/3/index.html'>3</a>
                            <a class="next page-numbers" href="page/2/index.html"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
