<!DOCTYPE html>

<html>
@*<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>*@
<head runat="server">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="xmlrpc.html">
    <title>Travel Tour</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7COpen+Sans%3A300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;subset=latin%2Clatin-ext%2Cdevanagari%2Ccyrillic-ext%2Cvietnamese%2Ccyrillic%2Cgreek-ext%2Cgreek&amp;ver=4.9.8' type='text/css' media='all' />

    <link rel='stylesheet' href='~/TemplateFolders/plugins/revslider/public/assets/css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/TemplateFolders/plugins/tourmaster/plugins/elegant-font/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/TemplateFolders/plugins/tourmaster/tourmaster.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/TemplateFolders/css/tourmaster-style-custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/TemplateFolders/css/style-core.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/TemplateFolders/css/traveltour-style-custom.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/TemplateFolders/plugins/goodlayers-core/plugins/combine/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/TemplateFolders/plugins/goodlayers-core/include/css/page-builder.css' type='text/css' media='all' />
</head>
<body class="home page-template-default page page-id-2039 gdlr-core-body tourmaster-body woocommerce-no-js traveltour-body traveltour-body-front traveltour-full  traveltour-with-sticky-navigation gdlr-core-link-to-lightbox">
    <div class="traveltour-mobile-header-wrap">
        @*<div class="traveltour-top-bar">
            <div class="traveltour-top-bar-background"></div>

            <div class="traveltour-top-bar-container clearfix traveltour-container ">
                <div class="traveltour-top-bar-left traveltour-item-pdlr travel-tour-hide-on-mobile">
                    <i class="fa fa-phone" id="i_b45c_0"></i> 1.820.3345.35
                    <i class="fa fa-envelope-o" id="i_b45c_1"></i> Contact@TravelTourWP.com
                </div>
                <div class="traveltour-top-bar-right traveltour-item-pdlr">
                    <div class="traveltour-top-bar-right-social">
                        <a href="#" target="_blank" class="traveltour-top-bar-social-icon" title="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank" class="traveltour-top-bar-social-icon" title="flickr">
                            <i class="fa fa-flickr"></i>
                        </a>
                        <a href="#" target="_blank" class="traveltour-top-bar-social-icon" title="google-plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#" target="_blank" class="traveltour-top-bar-social-icon" title="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="traveltour-mobile-header traveltour-header-background traveltour-style-slide" id="traveltour-mobile-header">
            <div class="traveltour-mobile-header-container traveltour-container">
                <div class="traveltour-logo  traveltour-item-pdlr">
                    <div class="traveltour-logo-inner">
                        <a href="index.html"> <img src="~/TemplateFolders/images/logo.png" /></a>

                    </div>
                </div>
                <div class="traveltour-mobile-menu-right">
                    @*<div class="traveltour-main-menu-search" id="traveltour-mobile-top-search"><i class="fa fa-search"></i></div>*@
                    <div class="traveltour-top-search-wrap">
                        <div class="traveltour-top-search-close"></div>
                        <div class="traveltour-top-search-row">
                            <div class="traveltour-top-search-cell">
                                <form role="search" method="get" class="search-form" action="#">
                                    <input type="text" class="search-field traveltour-title-font" placeholder="Search..." value="" name="s">
                                    <div class="traveltour-top-search-submit"><i class="fa fa-search"></i></div>
                                    <input type="submit" class="search-submit" value="Search">
                                    <div class="traveltour-top-search-close"><i class="icon_close"></i></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="traveltour-mobile-menu">
                        <a class="traveltour-mm-menu-button traveltour-mobile-menu-button traveltour-mobile-button-hamburger-with-border" href="#traveltour-mobile-menu"><i class="fa fa-bars"></i></a>
                        <div class="traveltour-mm-menu-wrap traveltour-navigation-font" id="traveltour-mobile-menu" data-slide="right">
                            <ul id="menu-main-navigation" class="m-menu">
                                <li class="menu-item menu-item-home current-menu-item menu-item-has-children">
                                    <a href="index.html">Home</a>
                                </li>

                                <li class="menu-item menu-item-home current-menu-item menu-item-has-children">
                                    <a href="index.html">About Us</a>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="#">Destinations</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#">Domestic</a>
                                            <ul class="sub-menu">

                                                <li class="menu-item"><a href="accordions-toggles.html">Kerala</a></li>
                                                <li class="menu-item"><a href="alert-box.html">Goa</a></li>
                                                <li class="menu-item"><a href="accordions-toggles.html">Shimla</a></li>
                                                <li class="menu-item"><a href="alert-box.html">Manali</a></li>


                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#">International</a>
                                            <ul class="sub-menu">

                                                <li class="menu-item"><a href="accordions-toggles.html">Europe</a></li>
                                                <li class="menu-item"><a href="alert-box.html">Paris</a></li>
                                                <li class="menu-item"><a href="accordions-toggles.html">Switzerland</a></li>
                                                <li class="menu-item"><a href="alert-box.html">Dubai</a></li>


                                            </ul>
                                        </li>


                                    </ul>
                                </li>

                                <li class="menu-item menu-item-home current-menu-item menu-item-has-children">
                                    <a href="index.html">Hotels</a>
                                </li>

                                <li class="menu-item menu-item-home current-menu-item menu-item-has-children">
                                    <a href="index.html">Trekking</a>
                                </li>

                                <li class="menu-item menu-item-home current-menu-item menu-item-has-children">
                                    <a href="index.html">Contact Us Us</a>
                                </li>

                                <li class="menu-item menu-item-home current-menu-item menu-item-has-children">
                                    <a href="index.html">Gsllery</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="traveltour-body-outer-wrapper ">
        <div class="traveltour-body-wrapper clearfix  traveltour-with-transparent-header traveltour-with-frame">
            <div class="traveltour-header-background-transparent">
                @*<div class="traveltour-top-bar">
                    <div class="traveltour-top-bar-background"></div>
                    <div class="traveltour-top-bar-container clearfix traveltour-container ">

                        <div class="traveltour-top-bar-left traveltour-item-pdlr">
                            <i class="fa fa-phone" id="i_b45c_2"></i> 1.820.3345.38
                            <i class="fa fa-envelope-o" id="i_b45c_3"></i> Contact@TravelTourWP.com
                        </div>
                        <div class="traveltour-top-bar-right traveltour-item-pdlr">
                            <div class="traveltour-top-bar-right-social">
                                <a href="#" target="_blank" class="traveltour-top-bar-social-icon" title="facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" target="_blank" class="traveltour-top-bar-social-icon" title="flickr">
                                    <i class="fa fa-flickr"></i>
                                </a>
                                <a href="#" target="_blank" class="traveltour-top-bar-social-icon" title="google-plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#" target="_blank" class="traveltour-top-bar-social-icon" title="twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>*@
                <header class="traveltour-header-wrap traveltour-header-style-plain  traveltour-style-menu-right traveltour-sticky-navigation traveltour-style-slide">
                    <div class="traveltour-header-background"></div>
                    <div class="traveltour-header-container  traveltour-container">
                        <div class="traveltour-header-container-inner clearfix">
                            <div class="traveltour-logo  traveltour-item-pdlr">
                                <div class="traveltour-logo-inner">
                                    <a href="index.html"> <img src="~/TemplateFolders/images/logo.png" /></a>
                                </div>
                            </div>
                            <div class="traveltour-navigation traveltour-item-pdlr clearfix ">
                                <div class="traveltour-main-menu" id="traveltour-main-menu">
                                    <ul id="menu-main-navigation-1" class="sf-menu">
                                        <li class="menu-item menu-item-home current-menu-item menu-item-has-children traveltour-normal-menu">
                                            <a href="index.html" class="sf-with-ul-pre">Home</a>
                                            @*<ul class="sub-menu">
                <li class="menu-item" data-size="60"><a href="index.html">Homepage 1</a></li>

            </ul>*@
                                        </li>
                                        <li class="menu-item menu-item-home current-menu-item menu-item-has-children traveltour-normal-menu">
                                            <a href="index.html" class="sf-with-ul-pre">About Us</a>
                                        </li>
                                        <li class="menu-item menu-item-has-children traveltour-normal-menu">
                                            <a href="#" class="sf-with-ul-pre">Destinations</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-has-children" data-size="60">
                                                    <a href="#" class="sf-with-ul-pre">Domestic</a>
                                                    <ul class="sub-menu">

                                                        <li class="menu-item"><a href="accordions-toggles.html">Kerala</a></li>
                                                        <li class="menu-item"><a href="alert-box.html">Goa</a></li>
                                                        <li class="menu-item"><a href="accordions-toggles.html">Shimla</a></li>
                                                        <li class="menu-item"><a href="alert-box.html">Manali</a></li>


                                                    </ul>
                                                </li>


                                                <li class="menu-item menu-item-has-children" data-size="60">
                                                    <a href="#" class="sf-with-ul-pre">International</a>
                                                    <ul class="sub-menu">

                                                        <li class="menu-item"><a href="accordions-toggles.html">Europe</a></li>
                                                        <li class="menu-item"><a href="alert-box.html">Paris</a></li>
                                                        <li class="menu-item"><a href="accordions-toggles.html">Switzerland</a></li>
                                                        <li class="menu-item"><a href="alert-box.html">Dubai</a></li>


                                                    </ul>
                                                </li>


                                            </ul>
                                        </li>

                                        <li class="menu-item menu-item-home current-menu-item menu-item-has-children traveltour-normal-menu">
                                            <a href="index.html" class="sf-with-ul-pre">Hotels</a>
                                        </li>

                                        <li class="menu-item menu-item-home current-menu-item menu-item-has-children traveltour-normal-menu">
                                            <a href="index.html" class="sf-with-ul-pre">Trekking</a>
                                        </li>

                                        <li class="menu-item menu-item-home current-menu-item menu-item-has-children traveltour-normal-menu">
                                            <a href="index.html" class="sf-with-ul-pre">Contact Us</a>
                                        </li>

                                        <li class="menu-item menu-item-home current-menu-item menu-item-has-children traveltour-normal-menu">
                                            <a href="index.html" class="sf-with-ul-pre">Gallery</a>
                                        </li>



                                    </ul>
                                    <div class="traveltour-navigation-slide-bar" id="traveltour-navigation-slide-bar"></div>
                                </div>
                                @*<div class="traveltour-main-menu-right-wrap clearfix ">
                                    <div class="traveltour-main-menu-search" id="traveltour-top-search"><i class="fa fa-search"></i></div>
                                    <div class="traveltour-top-search-wrap">
                                        <div class="traveltour-top-search-close"></div>
                                        <div class="traveltour-top-search-row">
                                            <div class="traveltour-top-search-cell">
                                                <form role="search" method="get" class="search-form" action="#">
                                                    <input type="text" class="search-field traveltour-title-font" placeholder="Search..." value="" name="s">
                                                    <div class="traveltour-top-search-submit"><i class="fa fa-search"></i></div>
                                                    <input type="submit" class="search-submit" value="Search">
                                                    <div class="traveltour-top-search-close"><i class="icon_close"></i></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </header>
            </div>

            <div>
                @RenderBody()
            </div>
            <footer>
                <div class="traveltour-footer-wrapper  traveltour-with-column-divider">
                    <div class="traveltour-footer-container traveltour-container clearfix">
                        <div class="traveltour-footer-column traveltour-item-pdlr traveltour-column-20">
                            <div id="text-1" class="widget widget_text traveltour-widget">
                                <div class="textwidget"><img src="~/TemplateFolders/images/logo.png" alt="" /> <span class="gdlr-core-space-shortcode" id="span_29f0_13"></span> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. <span class="gdlr-core-space-shortcode" id="span_29f0_14"></span> <img src="upload/award-1.png" alt="" width="140" id="img_29f0_0" /> <img src="upload/award-2.png" alt="" width="65" /></div>
                            </div>
                        </div>
                        <div class="traveltour-footer-column traveltour-item-pdlr traveltour-column-20">
                            <div id="tourmaster-widget-tour-category-6" class="widget widget_tourmaster-widget-tour-category traveltour-widget">
                                <h3 class="traveltour-widget-title"><span class="traveltour-widget-head-text">Top Destinations</span></h3><span class="clear"></span>
                                <div class="tourmaster-widget-tour-category">
                                    <div class="tourmaster-tour-category-widget-holder clearfix">
                                        <div class="tourmaster-tour-category-widget tourmaster-item-list  tourmaster-column-20 tourmaster-column-first tourmaster-with-thumbnail">
                                            <div class="tourmaster-tour-category-thumbnail tourmaster-media-image"><img src="~/TemplateFolders/upload/shutterstock_120562819-600x600.jpg" alt="" width="600" height="600" /></div>
                                            <div class="tourmaster-tour-category-overlay"></div>
                                            <div class="tourmaster-tour-category-head">
                                                <div class="tourmaster-tour-category-head-table">
                                                    <h3 class="tourmaster-tour-category-title"><a class="tourmaster-tour-category-head-link" href="#">Africa</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tourmaster-tour-category-widget tourmaster-item-list  tourmaster-column-20 tourmaster-with-thumbnail">
                                            <div class="tourmaster-tour-category-thumbnail tourmaster-media-image"><img src="~/TemplateFolders/upload/Fotolia_16069076_Subscription_Monthly_XXL-600x600.jpg" alt="" width="600" height="600" /></div>
                                            <div class="tourmaster-tour-category-overlay"></div>
                                            <div class="tourmaster-tour-category-head">
                                                <div class="tourmaster-tour-category-head-table">
                                                    <h3 class="tourmaster-tour-category-title"><a class="tourmaster-tour-category-head-link" href="#">America</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tourmaster-tour-category-widget tourmaster-item-list  tourmaster-column-20 tourmaster-with-thumbnail">
                                            <div class="tourmaster-tour-category-thumbnail tourmaster-media-image"><img src="~/TemplateFolders/upload/shutterstock_147744218-600x600.jpg" alt="" width="600" height="600" /></div>
                                            <div class="tourmaster-tour-category-overlay"></div>
                                            <div class="tourmaster-tour-category-head">
                                                <div class="tourmaster-tour-category-head-table">
                                                    <h3 class="tourmaster-tour-category-title"><a class="tourmaster-tour-category-head-link" href="#">Asia</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tourmaster-tour-category-widget tourmaster-item-list  tourmaster-column-20 tourmaster-column-first tourmaster-with-thumbnail">
                                            <div class="tourmaster-tour-category-thumbnail tourmaster-media-image"><img src="~/TemplateFolders/upload/photodune-488847-venice-m-600x600.jpg" alt="" width="600" height="600" /></div>
                                            <div class="tourmaster-tour-category-overlay"></div>
                                            <div class="tourmaster-tour-category-head">
                                                <div class="tourmaster-tour-category-head-table">
                                                    <h3 class="tourmaster-tour-category-title"><a class="tourmaster-tour-category-head-link" href="#">Eastern Europe</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tourmaster-tour-category-widget tourmaster-item-list  tourmaster-column-20 tourmaster-with-thumbnail">
                                            <div class="tourmaster-tour-category-thumbnail tourmaster-media-image"><img src="~/TemplateFolders/upload/shutterstock_255194035-600x600.jpg" alt="" width="600" height="600" /></div>
                                            <div class="tourmaster-tour-category-overlay"></div>
                                            <div class="tourmaster-tour-category-head">
                                                <div class="tourmaster-tour-category-head-table">
                                                    <h3 class="tourmaster-tour-category-title"><a class="tourmaster-tour-category-head-link" href="#">Europe</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tourmaster-tour-category-widget tourmaster-item-list  tourmaster-column-20 tourmaster-with-thumbnail">
                                            <div class="tourmaster-tour-category-thumbnail tourmaster-media-image"><img src="~/TemplateFolders/upload/shutterstock_124333858-600x600.jpg" alt="" width="600" height="600" /></div>
                                            <div class="tourmaster-tour-category-overlay"></div>
                                            <div class="tourmaster-tour-category-head">
                                                <div class="tourmaster-tour-category-head-table">
                                                    <h3 class="tourmaster-tour-category-title"><a class="tourmaster-tour-category-head-link" href="#">South America</a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="traveltour-footer-column traveltour-item-pdlr traveltour-column-20">
                            <div id="text-2" class="widget widget_text traveltour-widget">
                                <h3 class="traveltour-widget-title"><span class="traveltour-widget-head-text">Contact Info</span></h3><span class="clear"></span>
                                <div class="textwidget">
                                    <p>
                                        Address : 12 Main Street Pt. London
                                        <br /> <span class="gdlr-core-space-shortcode" id="span_29f0_15"></span>
                                        <br /> Phone : +44 3656 4567
                                        <br /> <span class="gdlr-core-space-shortcode" id="span_29f0_16"></span>
                                        <br /> contact@traveltourtheme.com
                                    </p>
                                    <p>
                                        <span class="gdlr-core-space-shortcode" id="span_29f0_17"></span>
                                        <br /> <a href="#" target="_blank"><i class="fa fa-facebook" id="i_29f0_9"></i></a> <a href="#" target="_blank"><i class="fa fa-twitter" id="i_29f0_10"></i></a> <a href="#" target="_blank"><i class="fa fa-linkedin" id="i_29f0_11"></i></a> <a href="#" target="_blank"><i class="fa fa-pinterest-p" id="i_29f0_12"></i></a> <a href="#" target="_blank"><i class="fa fa-vimeo" id="i_29f0_13"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="traveltour-copyright-wrapper">
                    <div class="traveltour-copyright-container traveltour-container">
                        <div class="traveltour-copyright-text traveltour-item-pdlr">Copyright 2020, All Right Reserved</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script type='text/javascript' src='~/TemplateFolders/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='~/TemplateFolders/js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='~/TemplateFolders/js/jquery/ui/core.min.js'></script>
    <script type='text/javascript' src='~/TemplateFolders/js/jquery/ui/datepicker.min.js'></script>
    <script type='text/javascript' src='~/TemplateFolders/js/jquery/ui/effect.min.js'></script>
    <script type='text/javascript' src='~/TemplateFolders/plugins/tourmaster/tourmaster.js'></script>
    <script type='text/javascript' src='~/TemplateFolders/js/plugins.js'></script>
    <script type='text/javascript' src='~/TemplateFolders/plugins/goodlayers-core/plugins/combine/script.js'></script>
    <script type='text/javascript' src='~/TemplateFolders/plugins/goodlayers-core/include/js/page-builder.js'></script>

    <!-- Rev SLider Plugin -->
    <script type='text/javascript' src='~/TemplateFolders/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript' src='~/TemplateFolders/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js'></script>
    <script type="text/javascript" src="~/TemplateFolders/plugins/revslider/public/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/TemplateFolders/plugins/revslider/public/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/TemplateFolders/plugins/revslider/public/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/TemplateFolders/plugins/revslider/public/assets/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/TemplateFolders/plugins/revslider/public/assets/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/TemplateFolders/plugins/revslider/public/assets/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/TemplateFolders/plugins/revslider/public/assets/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript">
        /*<![CDATA[*/
        function setREVStartSize(e) {
            try {
                e.c = jQuery(e.c);
                var i = jQuery(window).width(),
                    t = 9999,
                    r = 0,
                    n = 0,
                    l = 0,
                    f = 0,
                    s = 0,
                    h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) {
                    f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                    var u = (e.c.width(), jQuery(window).height());
                    if (void 0 != e.fullScreenOffsetContainer) {
                        var c = e.fullScreenOffsetContainer.split(",");
                        if (c) jQuery.each(c, function (e, i) {
                            u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                        }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                    }
                    f = u
                } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                e.c.closest(".rev_slider_wrapper").css({
                    height: f
                })
            } catch (d) {
                console.log("Failure at Presize of Slider:" + d)
            }
        }; /*]]>*/
    </script>
    <script type="text/javascript">
        /*<![CDATA[*/
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
            errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        } /*]]>*/
    </script>
    <script>
        /*<![CDATA[*/
        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
        var htmlDivCss = "";
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement("div");
            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        } /*]]>*/
    </script>
    <script type="text/javascript">
        /*<![CDATA[*/
        if (setREVStartSize !== undefined) setREVStartSize({
            c: '#rev_slider_1_1',
            gridwidth: [1280],
            gridheight: [680],
            sliderLayout: 'auto'
        });
        var revapi1, tpj;
        (function () {
            if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad);
            else onLoad();

            function onLoad() {
                if (tpj === undefined) {
                    tpj = jQuery;
                    if ("off" == "on") tpj.noConflict();
                }
                if (tpj("#rev_slider_1_1").revolution == undefined) {
                    revslider_showDoubleJqueryError("#rev_slider_1_1");
                } else {
                    revapi1 = tpj("#rev_slider_1_1").show().revolution({
                        sliderType: "standard",
                        jsFileLocation: "//demo.goodlayers.com/travelwp-content/plugins/revslider/public/assets/js/",
                        sliderLayout: "auto",
                        dottedOverlay: "none",
                        delay: 9000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            mouseScrollReverse: "default",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                touchOnDesktop: "off",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            },
                            arrows: {
                                style: "uranus",
                                enable: true,
                                hide_onmobile: true,
                                hide_under: 1024,
                                hide_onleave: true,
                                hide_delay: 200,
                                hide_delay_mobile: 1200,
                                tmp: '',
                                left: {
                                    h_align: "left",
                                    v_align: "center",
                                    h_offset: 20,
                                    v_offset: 50
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "center",
                                    h_offset: 20,
                                    v_offset: 50
                                }
                            },
                            bullets: {
                                enable: true,
                                hide_onmobile: false,
                                style: "uranus",
                                hide_onleave: false,
                                direction: "horizontal",
                                h_align: "center",
                                v_align: "bottom",
                                h_offset: 5,
                                v_offset: 25,
                                space: 10,
                                tmp: '<span class="tp-bullet-inner"></span>'
                            }
                        },
                        visibilityLevels: [1240, 1024, 778, 480],
                        gridwidth: 1280,
                        gridheight: 680,
                        lazyType: "none",
                        shadow: 0,
                        spinner: "off",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        disableProgressBar: "on",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false,
                        }
                    });
                };
            };
        }()); /*]]>*/
    </script>
    <script>
        /*<![CDATA[*/
        var htmlDivCss = unescape("%23rev_slider_1_1%20.uranus.tparrows%20%7B%0A%20%20width%3A50px%3B%0A%20%20height%3A50px%3B%0A%20%20background%3Argba%28255%2C255%2C255%2C0%29%3B%0A%20%7D%0A%20%23rev_slider_1_1%20.uranus.tparrows%3Abefore%20%7B%0A%20width%3A50px%3B%0A%20height%3A50px%3B%0A%20line-height%3A50px%3B%0A%20font-size%3A40px%3B%0A%20transition%3Aall%200.3s%3B%0A-webkit-transition%3Aall%200.3s%3B%0A%20%7D%0A%20%0A%20%20%23rev_slider_1_1%20.uranus.tparrows%3Ahover%3Abefore%20%7B%0A%20%20%20%20opacity%3A0.75%3B%0A%20%20%7D%0A%23rev_slider_1_1%20.uranus%20.tp-bullet%7B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C%200%29%3B%0A%20%20-webkit-transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20background%3Atransparent%3B%0A%20%20width%3A15px%3B%0A%20%20height%3A15px%3B%0A%7D%0A%23rev_slider_1_1%20.uranus%20.tp-bullet.selected%2C%0A%23rev_slider_1_1%20.uranus%20.tp-bullet%3Ahover%20%7B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C1%29%3B%0A%20%20border%3Anone%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background%3Atransparent%3B%0A%7D%0A%0A%23rev_slider_1_1%20.uranus%20.tp-bullet-inner%20%7B%0A%20%20-webkit-transition%3A%20background-color%200.3s%20ease%2C%20-webkit-transform%200.3s%20ease%3B%0A%20%20transition%3A%20background-color%200.3s%20ease%2C%20transform%200.3s%20ease%3B%0A%20%20top%3A%200%3B%0A%20%20left%3A%200%3B%0A%20%20width%3A%20100%25%3B%0A%20%20height%3A%20100%25%3B%0A%20%20outline%3A%20none%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background-color%3A%20rgb%28255%2C%20255%2C%20255%29%3B%0A%20%20background-color%3A%20rgba%28255%2C%20255%2C%20255%2C%200.3%29%3B%0A%20%20text-indent%3A%20-999em%3B%0A%20%20cursor%3A%20pointer%3B%0A%20%20position%3A%20absolute%3B%0A%7D%0A%0A%23rev_slider_1_1%20.uranus%20.tp-bullet.selected%20.tp-bullet-inner%2C%0A%23rev_slider_1_1%20.uranus%20.tp-bullet%3Ahover%20.tp-bullet-inner%7B%0A%20transform%3A%20scale%280.4%29%3B%0A%20-webkit-transform%3A%20scale%280.4%29%3B%0A%20background-color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%7D%0A");
        var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement('div');
            htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
            document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
        } /*]]>*/
    </script>

</body>
</html>
